function MazeGenerator.generate 0
push constant 0
push constant 0
push argument 0
push argument 1
push argument 2
push argument 3
call MazeGenerator.carvePassageFrom 6
pop temp 0
push constant 0
return
function MazeGenerator.carvePassageFrom 9
push constant 0
pop local 6
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push argument 3
push constant 4
call PseudoRand.next 2
pop local 0
push constant 2
push local 0
call ExtendedMath.pow 2
pop local 7
label WHILE_EXP1
push local 6
push local 7
and
push local 7
eq
not
if-goto WHILE_END1
push local 0
push constant 1
add
pop local 0
push local 0
push constant 4
gt
push local 0
or
push constant 4
eq
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 4
sub
pop local 0
label IF_FALSE0
push constant 2
push local 0
call ExtendedMath.pow 2
pop local 7
goto WHILE_EXP1
label WHILE_END1
push argument 0
pop local 4
push argument 1
pop local 5
push local 6
push local 7
or
pop local 6
push local 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 2
push constant 2
pop local 3
push local 5
push constant 1
sub
pop local 5
label IF_FALSE1
push local 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop local 2
push constant 1
pop local 3
push local 5
push constant 1
add
pop local 5
label IF_FALSE2
push local 0
push constant 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop local 2
push constant 8
pop local 3
push local 4
push constant 1
add
pop local 4
label IF_FALSE3
push local 0
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 8
pop local 2
push constant 4
pop local 3
push local 4
push constant 1
sub
pop local 4
label IF_FALSE4
push local 5
push constant 1
neg
gt
push local 5
push argument 5
lt
and
push local 4
push constant 1
neg
gt
and
push local 4
push argument 4
lt
and
push constant 0
not
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 5
push argument 2
add
pop pointer 1
push that 0
pop local 8
push local 4
push local 8
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 4
push local 8
add
push local 4
push local 8
add
pop pointer 1
push that 0
push local 3
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push argument 2
add
pop pointer 1
push that 0
pop local 8
push argument 0
push local 8
add
push argument 0
push local 8
add
pop pointer 1
push that 0
push local 2
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
push local 5
push argument 2
push argument 3
push argument 4
push argument 5
call MazeGenerator.carvePassageFrom 6
pop temp 0
label IF_FALSE6
label IF_FALSE5
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
