function MazeDrawer.drawMaze 4
push constant 0
pop local 1
push constant 0
pop local 0
push constant 0
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 5
push argument 3
call Math.multiply 2
add
push argument 2
push argument 6
push argument 4
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 1
add
push argument 2
push constant 1
add
push argument 1
push argument 5
push argument 3
call Math.multiply 2
add
push constant 1
sub
push argument 2
push argument 6
push argument 4
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP0
push local 0
push argument 6
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 3
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push argument 5
lt
not
if-goto WHILE_END1
push local 1
push local 3
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 4
and
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
push argument 1
push argument 2
push argument 3
push argument 4
call MazeDrawer.drawEastWall 6
pop temp 0
label IF_FALSE0
push local 2
push constant 2
and
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 0
push argument 1
push argument 2
push argument 3
push argument 4
call MazeDrawer.drawSouthWall 6
pop temp 0
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MazeDrawer.drawEastWall 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 2
push argument 4
add
push argument 4
push argument 0
call Math.multiply 2
add
push argument 3
push argument 1
push argument 5
call Math.multiply 2
add
push argument 2
push argument 4
add
push argument 4
push argument 0
call Math.multiply 2
add
push argument 3
push argument 5
add
push argument 1
push argument 5
call Math.multiply 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function MazeDrawer.drawSouthWall 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 2
push argument 4
push argument 0
call Math.multiply 2
add
push argument 3
push argument 5
add
push argument 1
push argument 5
call Math.multiply 2
add
push argument 2
push argument 4
push argument 0
call Math.multiply 2
add
push argument 4
add
push argument 3
push argument 5
add
push argument 1
push argument 5
call Math.multiply 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
